<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/css/custom.css" type="text/css" />
  <title>Blog MD</title>
</head>
<body class="bg-lighter">
  <%- include('../posts/_header') %>
  
  <div class="container mw-6 p-5 align-middle bg-light">
    <div class="text-dark-gray cursor-pointer min-vh-100">
      <h3 class="font-weight-bold mb-1">Administration</h3>
      <hr class="mt-2" />

      <form action="/admin" method="POST">
        <div class="form-group">
          <label for="login">Login</label>
          <input required type="text" name="login" class ="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" name="password" class ="form-control" />
        </div>        
        <button type="submit" class="btn btn-dark">Sign In</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
      </form>

    </div>
  </div>
  
  <%- include('../posts/_footer.ejs') %> 
</body>
</html> 