<footer class="bg-gray pt-3 pb-3">
  <div class="text-light text-center pt-4 pb-4">
    <div class="text-light font-weight-lighter mb-1">© 2020 Blog MD</div>
    <div class="text-light font-weight-lighter small mb-1">Developed by <a href="https://github.com/leonardogbxv" class="text-info text-decoration-none font-weight-normal">Leonardo GB</a></div>
    <div class="text-light font-weight-lighter small"><a href="https://github.com/leonardogbxv/blog-md" class="text-light text-decoration-none">This is a open source project, click here for more information.</a></div>
  </div>
</footer>