.bg-gray {
  background-color: #333;
}

.text-dark-gray {
  color: #333;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mw-6 {
  max-width: 50rem;
}

.cursor-pointer {
  cursor: pointer;
}

.a-off {
  color: inherit!important;
  text-decoration: none!important;
}

.bg-lighter {
  background-color: #f0f4f7;
}

.h-title {
  font-size: 3rem;
}

.session-auth {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.3);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .5rem;
  padding: .4rem;
  margin: .5rem;
}

.session-auth > * {
  display: block;
  width: 100%;
  border: none;
  border-radius: .2rem;
  padding: 0.3rem;
}