.bg-gray {
  background-color: #333;
}

.text-dark-gray {
  color: #333;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mw-6 {
  max-width: 50rem;
}

.cursor-pointer {
  cursor: pointer;
}

.a-off {
  color: inherit!important;
  text-decoration: none!important;
}

.bg-lighter {
  background-color: #f0f4f7;
}

.h-title {
  font-size: 3rem;
}