<footer class="bg-gray pt-3 pb-3">
  <div class="text-light text-center pt-4 pb-4">
    <div class="text-light font-weight-lighter">© 2020 Leonardo GB</div>
    <!-- <nav class="nav justify-content-center">
      <a href="/" class="nav-link text-light figure-caption">Blog</a>
      <a href="https://github.com/leonardogbxv/blog-md" class="nav-link text-light figure-caption">Github</a>
      <a href="/posts/new" class="nav-link text-light figure-caption">New post</a>
    </nav> -->
  </div>
</footer>