<header class="bg-gray">
  <div class="text-light text-center pt-5 pb-5">
    <h1 class="font-weight-normal">Blog MD</h1>
    <p class="text-white-50">Some text here for now...</p>
    <nav class="nav justify-content-center">
      <a href="/" class="nav-link text-light figure-caption">Blog</a>
      <a href="#" class="nav-link text-light figure-caption">Github</a>
      <a href="/posts/new" class="nav-link text-light figure-caption">New post</a>
    </nav>
  </div>
</header>