<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/css/custom.css" type="text/css" />
  <title>Blog MD</title>
</head>
<body class="bg-lighter">
  <%- include('../partials/_header') %> 
  
  <div class="container mw-6 p-5 align-middle bg-light container-shadow">
    <h3 class="font-weight-bold mb-3">Edit Post</h1>
    <form action="/posts/<%= post.id %>?_method=PUT" method="post">
      <%- include('../partials/_form_content') %> 
    </form>
  </div>
  
  <%- include('../partials/_footer.ejs') %> 
</body>
</html> 